@import 'fonts.scss';

$background: #e5f3da;
$green: #7cc144;
$lightGreen: #ebf6e3;
$blue: #0b67b1;
$border: #A7A9AC;
$lGrey: #ccc;
$mGrey: #808080;
$dGrey: #4d4d4d;
$paleWhite: #f2f9ec;
$red: #f00;
$bgAlert: #ffd2d2;
$white: #FFFFFF;
$titleGrey: #6D6E71;
$navColor: #6D6E71;
$buttonGrey: #9E9E9E;
$black: #000;
$lGrey2: #58595B;

@mixin absPosCenter($margT, $margL) {
	margin: {
		top: 0 - $margT;
		right: 0;
		bottom: 0;
		left: 0 - $margL;
	}
	position: absolute;
	left: 50%;
	top: 50%;
}

@mixin bgImage100($img) {
	background-image: url($img);
	background-repeat: no-repeat;
	background-size: 100%;
}

@mixin bord1px($colour) {
	border: 1px solid $colour;
}


/* CSS Mobile Reset */
html, body {
  margin: 0;
  padding: 0;
  border: 0; }

body {
  font: 100%/1em sans-serif;
  word-wrap: break-word;
  -webkit-text-size-adjust: none; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

p img {
  float: left;
  margin: 0 10px 5px 0;
  padding: 0; }

img {
  border-width: 0;
  max-width: 100%; }

table {
  width: auto;
  border-collapse: collapse;
  border-spacing: 0; }

/* end CSS Mobile Reset */

.uLight {
	font: {
		weight: normal;
		family: 'ubuntu_lightregular', sans-serif;
	}
}
.uReg {
	font: {
		weight: normal;
		family: 'ubunturegular', sans-serif;
	}
}
.uMed {
	font: {
		weight: normal;
		family: 'ubuntu_lightbold', sans-serif;
	}
}
.uBold {
	font: {
		weight: normal;
		family: 'ubuntubold', sans-serif;
	}
}

.o0 {
	opacity: 0.0;
}
.o1 {
	opacity: 1.0;
}

.genFont {
	font-size: 0.9em;
	line-height: 1.3em;
}
.botMarg {
	margin: 0 0 0.3em;
}

.formInputs {
	-webkit-appearance: none;
	margin-bottom: 0;
	padding: {
		top: 0.7em;
		bottom: 0.7em;
	}
	font-size: 0.9em;
	border: 1px solid $border;

}

.ulNav {
	margin: 0;
	list-style:  none;
}

.formButton {
	margin-top: 2em;
	padding: 11px 30px;
	text-align: center;
	@extend .formInputs;
	@extend .uMed;
	color: $buttonGrey;
	//text-shadow: 1px 1px 0 #fff;
	border-radius: 30px;
	background: #FDFDFD;
	background: -moz-linear-gradient(top, #FDFDFD 0%, #D6D8D9 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FDFDFD), color-stop(100%,#D6D8D9));
	background: -webkit-linear-gradient(top, #FDFDFD 0%,#D6D8D9 100%);
	background: -o-linear-gradient(top, #FDFDFD 0%,#D6D8D9 100%);
	background: linear-gradient(to bottom, #FDFDFD 0%,#D6D8D9 100%);
	-webkit-transition: color 0.25s, background-color 0.25s ease-out;
    -moz-transition: color 0.25s, background-color 0.25s ease-out;
    -o-transition: color 0.25s, background-color 0.25s ease-out;
    -ms-transition: color 0.25s, background-color 0.25s ease-out;
    transition: color 0.25s, background-color 0.25s ease-out;
}


.formButton:hover {
	margin-top: 2em;
	padding: 11px 30px;
	text-align: center;
	@extend .formInputs;
	@extend .uMed;
	color: $white;
	//text-shadow: 1px 1px 0 #fff;
	border-radius: 30px;
	background: #B6D897;
	background: -moz-linear-gradient(top, #B6D897 0%, #7AB842 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#B6D897), color-stop(100%,#7AB842));
	background: -webkit-linear-gradient(top, #B6D897 0%,#7AB842 100%);
	background: -o-linear-gradient(top, #B6D897 0%,#7AB842 100%);
	background: linear-gradient(to bottom, #B6D897 0%,#7AB842 100%);
}

html, body {
	width: 100%;
	overflow: hidden;
	height: 100%;
}

body {
	font-size: 100%;
	line-height: 1em;
	@extend .uLight;
	color: #000;
	background-color: $white;

	.page-wrap{
		min-height: 100%;
		margin-bottom: -40px;
	}
	
	div#plg {
		width: 1px;
		height: 1px;
		overflow: hidden;
		position: absolute;
		left: -10000px;
		top: 0;
	}
	
}

@import 'header.scss';

@import 'article.scss';

@import 'footer.scss';

@import 'shareAlert.scss';


/* helpers */

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
