#art-timeline > div#graphMenu {
    background: none repeat scroll 0 0 #d1d3d4;
    height: 68px;
    position: relative;
    z-index: 700;
}

#art-timeline > div#graphMenu #menubtn{
	background:url(../images/menu-btn.png) no-repeat center center;
	color: rgba(0, 0, 0, 0);
    display: block;
    height: 66px;
    width: 13%;
    display:inline-block;
    float:right;
}

#scs-menu > li {
    float: left;
    list-style: none outside none;
    margin:0px;
    padding:4px;
    overflow: auto;
    max-height:400px;
    background:#d1d3d4;
    width:29%;
    border: 1px solid #bcbec0;
}

#scs-menu > li > h2{
	text-align:center;
}

#scs-menu > li > h2 > a { 
	text-decoration: none;
	color:#000;	
}

#scs-menu > li.active{
	background: #ECEDED;	
}

#scs {
	display: none;
	margin: 0;
/* 	float:right; */
	width: 75%;
	height:100%;
	position:absolute;
	z-index:650;
	right:0px; 
	top:0px;
}

#scs-menu{
    list-style: none outside none;
    margin:4px;
    padding:4px;
    display:inline;
}

div.menu-section {
    background: none repeat scroll 0 0 #ECEDED;
    display: none;
    left: 5%;
    margin: 12 auto;
    max-height: 400px;
    overflow: auto;
    padding: 10px 0 0 30px;
    position: absolute;
    z-index:700;
    width: 85%;
}

ul#scs-menu ul li ul#menu-share li {
	list-style:none !important;
}

.goAway {
	display: none !important;
}

.comeBack {
	display: inline-block !important;
}

/*#scs-menu > li:hover > div.menu-section  {
	display:block;
}*/

div.menu-section ul.swatches {
}


div.swatchColumns ul.swatches {
	margin:0 !important;
	padding:0 !important;	
	
}

ul#tags-legend li, #menu-share ul li {
	list-style: none;
}

ul.swatches {
	list-style: none;
	margin:0px;
	padding:0px;
/* 	line-height: 20px; */
}

ul.swatches li {
	list-style: none;
	margin:0px;
	padding:0px;
	/* line-height: 30px; */
	float:left;
	clear:both;
	margin-bottom: 10px;
}

ul.swatches li a {
    background-image: url("../images/visualizer_colour_select_transparent.gif");
    background-position: left top;
    background-repeat: no-repeat;
    border: 1px solid #9E9E9E;
    border-radius: 14px;
    height: 20px !important;
    float:left;
/*     left: 0; */
/*     position: absolute; */
/*     top: 4px; */
    width: 20px !important;
}
ul.swatches li span {
	    margin-left:10px;

	    line-height: 25px;
}
ul.swatches li span.swatches { 
	margin-left:0px;
}

ul li a.swatches, ul li span.swatches {
    background-image: url("../images/visualizer_colour_select_transparent.gif");
    background-position: left top;
    background-repeat: no-repeat;
    border: 1px solid #9E9E9E;
    border-radius: 14px;
    display:inline-block;
    height: 20px !important;
    width: 20px !important;
    float:left;
}

ul.tags li a.swatches {
    background-image: url("../images/visualizer_colour_select_transparent.gif");
    background-position: left top;
    background-repeat: no-repeat;
    border: 1px solid #9E9E9E;
    border-radius: 0px;
    display:inline-block;
    height: 15px !important;
    width: 15px !important;
}


/* {
    background-image: url("../images/visualizer_colour_select_transparent.gif");
    background-position: left top;
    background-repeat: no-repeat;
    border: 1px solid #9E9E9E;
    border-radius: 14px;
    display:inline-block;
    height: 20px !important;
    width: 20px !important;	
}*/

ul#legend-header {
    padding:10px 5px 0px 5px;
}

ul#legend-header li  {
    margin:0px;
    float:left;
    clear:none;
    padding:0px 3px;
    /*line-height: 24px;*/
}

ul#legend-header li span {
    margin:0px;
    margin-left:2px;
}

ul#legend-header li span.swatches, span.popupColor {
    height:8px !important;
    width: 8px !important;
    line-height: auto;
    margin:0px;
    border:none;
    float:none;

}

span.popupColor  {display: inline-block;
    border-radius:10px;
    float:left;
    line-height: 25px;
    margin-top:3px;
    margin-right:5px;
}

p.popupHeading {
    font-size:12px;
    color:#999;
}

#top-legend > ul {
    margin-top: 0;
}

#cfg {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

#cfgGraphs {

    
}

#bgplate {
    background: rgba(0,0,0,0.5);
    width:100%;
    height: 100%;
    position: fixed;
    top:0;
    left:0;
    z-index: 10;
}

#legend-popup {
    position: fixed;
    top:10%;
    left:10%;
    width:80%;
    min-height: 100px;
    padding:10px;
    z-index: 1000;
    background: #fff;
    border-radius:10px;
}

#legend-header .legend-popup {
    cursor:pointer;
}

#legend-popup .close-popup {float:right; text-decoration: none; color:#333;}

.ui-colorpicker, ui-dialog.ui-colorpicker {
	background: #fff;
	padding:30px;
	border-radius: 15px;
}


#graph-menu #content #share_content ul{
	/* margin */:20px 0px 0px 0px;
	list-style: none;
	text-align: center;
	padding:20px 0px 0px 0px;
}