<!DOCTYPE html>
<html>
<head>
		<meta charset="utf-8">
			<meta name="viewport" content="width = device-width, initial-scale = 1, maximum-scale = 1.0">
		<link rel="stylesheet" media="screen" href="../css/style.css">
		
		<link rel="stylesheet" media="screen" href="../css/graph-ui.css">
		<link rel="stylesheet" media="screen" href="../css/graph.css">
		<link rel="stylesheet" media="screen" href="../css/jquery-ui-styles.css">
		<link rel="stylesheet" media="screen" href="../css/graph-menu.css">
		
		<script type="text/javascript" src="../js/jquery.min.js"></script>
		<script type="text/javascript" src="../js/menu-ui.js"></script>
		
</head>

<div id="tempContainer">
	<nav id="graph-header"><a href="#" class="btnmenu external"></a></nav>
	<aside id="graph-menu">
		
		<nav id="graph-nav">
			<a href="#" class="btnmenu internal"></a>
			<a href="#" id="legend" class="tab selected">Legend</a>
			<a href="#" id="edit" class="tab">Edit</a>
			<a href="#" id="share" class="tab">Share</a>
		</nav>
			
	<div id="content">
		
		<div id="legend_content" class="tab_content active">
				CONTENT FOR THE LEGEND SECTION
		</div>
		
		<div id="edit_content" class="tab_content">
			CONTENT FOR THE EDIT SECTION
		</div>
		
		<div id="share_content" class="tab_content">
			CONTENT FOR THE SHARE SECTION
		</div>
	</div>

</aside>

</div>